@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1536px;
  padding-left: 6rem /* 96px */;
  padding-right: 6rem /* 96px */;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    /* max-width: 475px; */
    padding-left: 20px;
    padding-right: 20px;
  }
}
